h1, h2 {
    margin: 0;
}

button#toggle-bg-button {
    background: none;
    border: none;

    position: absolute;
    bottom: 12px; right: 12px;

    font-size: 65px;
    color: rgba(255, 255, 255, 0.2);
}

canvas#background {
    width: 100vw;
    height: 100vh;
    z-index: -100;

    background: black;

    display: block;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

main#content-wrapper {
    position: relative;

    transition: all 0.3s;

    width: 100%; height: 100%;
    background: rgba(0, 0 , 0, 0.6);
}

div#project-selector {
    display: flex;

    width: 100%;
    mask-image: linear-gradient(90deg, transparent 15%, black 50%, transparent 85%);
    justify-content: center;
}

div#project-selector-contents {
    white-space: nowrap;
    transition: all 0.25s;

    display: flex;
    flex-direction: row;

    justify-content: center;

    gap: 50px;
}

div#project-contents {
    min-height: 55%;
    max-height: 55%;

    display: flex;
    flex-direction: row;

    gap: 25px;
}

div#project-content-right {
    display: flex;
    flex-grow: 2;

    flex-direction: column;
}

div#project-text {
    text-align: center;
    font-size: 26px;

    overflow-y: auto;
    flex-grow: 1;
}

div#project-links {
    display: flex;

    width: 100%;
    flex-grow: 0;

    justify-content: center;
}

div#project-images {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    gap: 20px;

    overflow-y: auto;
    direction: rtl;
}

div#project-image-fullscreen-wrapper {
    display: flex;

    position: absolute;
    top: 0; left: 0;

    width: 100%;
    height: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 15px;

    transition: all 0.4s;

    background: rgba(0, 0 , 0, 0.75);
}

div#project-text, div#project-images {
    scrollbar-color: white transparent;
}

div#project-text .text-link {
    font-size: 26px;
}

img#project-image-fullscreen {
    width: 70vw;
    height: 39.4vw;

    object-fit: contain;
}

.project-image-small {
    object-fit: contain;
    cursor: pointer;
}

.invisible {
    opacity: 0%;
    user-select: none;
    pointer-events: none;
}

.links {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.mainpage-animations {
    transition: all 0.6s;
}

.fade-down, .fade-up {
    user-select: none;
    pointer-events: none;
    opacity: 0%;
}

.fade-up {
    translate: 0 -250px;
}

.fade-down {
    translate: 0 250px;
}

.subpage {
    position: absolute;
    top: 0; left: 0;

    display: flex;
    width: 100%; height: 100%;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 36px;
}